#banner {
    text-align: center;
    height: 500px;
    background-image: url('images/france-in-pictures-beautiful-places-to-photograph-eiffel-tower.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    color: white;
}
.bio {
    background-color: black;
    color: white;
    text-align: center;
}